.footer {
  background-color: #000000de;
  /* padding: 1rem 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 15px; */
}

.image {
  max-width: 80px;
  height: auto;
}

.text {
  font-size: 0.85rem;
  color: #e6e5e5;
}

