@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #f5f5f5;
  color: #111827;
}

html.dark body {
  background-color: #020617;
  color: #e5e7eb;
}

main {
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 320px;
}

input {
  padding: 0.5rem;
}

