.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.title {
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #555;
}

